/* GuessAnimeGame.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #ffffff;
  background-image: url("C:\Users\Bryant\Downloads\1350961.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.App {
  text-align: center;
}

.App-header {
  background-color: rgba(40, 44, 52, 0.8);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
}

.GuessAnimeGame {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  width: 250px;
  height: 375px;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
}

input {
  padding: 10px;
  font-size: 1em;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 50%;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
}

button:hover {
  background-color: #0056b3;
}

p {
  font-size: 1.2em;
  margin: 10px 0;
}

/* Styling for Guess History */
.guessHistory {
  margin-top: 20px;
}

.guessHistory h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #ffffff; /* White text color */
}

.guessItem {
  background-color: #f0f0f0; /* Default background color */
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.guessItem:nth-child(even) {
  background-color: #e0e0e0; /* Alternate background color */
}

.guessItem p {
  margin: 5px 0;
  color: #000000; /* Adjusted text color for better readability */
}
